@import "vars"

*
  margin: 0
  padding: 0
  box-sizing: border-box

*:focus
  outline: none

body
  font-family: Lato, sans-serif, FontAwesome

a
  text-decoration: none

.li
  list-style-type: none

//@media screen and (min-width: 1150px)
.center
  padding: 0 calc(50% - 570px)

.header
  max-height: 100px
  padding-top: 25px
  padding-bottom: 25px
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.17)
  &__left, &__right
    display: flex
    align-items: center
  &__left
    justify-content: flex-start
  &__right
    justify-content: flex-end

.logo
  display: flex
  &__top
    margin-right: 37px

  &__link_text
    display: flex
    margin-top: 13px
    font-size: 27px
    font-weight: 300
    color: #222222
    text-align: left
    letter-spacing: 0.025em
    line-height: 32px
    text-transform: uppercase
  &_D-letter
    font-weight: 900
    color: $siteColor1
  &__img
    &_top
      margin-right: 12px

.search
  display: flex
  border: 1px solid #e6e6e6
  border-radius: 3px
  &__browse
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    height: 38px
    width: 87px
    padding-left: 15px
    padding-right: 15px
    border-right: 1px solid #e6e6e6
    &::after
      font-family: FontAwesome, sans-serif
      color: #838383
      content: '\f0d7'
      margin-left: 8px
      width: 10px
      font-size: 14px
      line-height: 32px
      font-weight: 400
      letter-spacing: 0.025em
      color: #838383
  &__drop
    display: none
    position: absolute
  &__text
    border: none
    border-right: 1px solid #e6e6e6
    max-width: 280px
    padding: 0 15px
  &__button
    width: 37px
    height: 37px
    background-color: #fff
    border: none
    font-size: 14px
    color: #a4a4a4
    letter-spacing: 0.03em
    line-height: 32px






