.checkout-box
  margin-bottom: 90px
.checkout-list
  @include flex-box (center, flex-start)
  flex-flow: column
  width: 100%
  border-bottom: 1px solid #e8e8e8
  &__title
    margin: 33px 0
    font-size: 16px
    font-weight: 700
    color: #222222
    text-transform: uppercase

.checkout-drop
  margin-left: 35px
  margin-bottom: 80px
  //display: none!important
  @include flex-box(flex-start, center)
  &__form
    width: 390px
  &__title
    font-size: 13px
    font-weight: bold
    color: #222222
    text-transform: uppercase
    padding: 15px 0
  &__comments
    font-size: 13px
    color: #b3b2b2
    line-height: 20px
    &_reg-form-pb
      margin-bottom: 25px
  &__label
    @include flex-box(flex-start, center)
    cursor: pointer
    font-size: 12px
    color: #222222
    text-transform: uppercase
    position: relative
    &:before
      content: ''
      display: inline-block
      margin-right: 15px
      height: 14px
      width: 14px
      background-color: #ffffff
      border: 2px solid #555555
      border-radius: 14px
    &_reg-form
      margin: 10px 0

  &__input-radio
    display: none
    //&:checked + &__label:before

  &__button
    display: inline-block
    font-size: 14px
    font-weight: bold
    color: #4a4a4a
    text-transform: uppercase
    padding: 19px 54px
    cursor: pointer
    background-color: #fff
    border: none
    outline: 1px solid #eaeaea
    &_forgot
      display: inline-block
      border: none
      outline: none
      background: #fff
      padding: 19px 30px



