.checkout-box
  margin-bottom: 90px
.checkout-list
  @include flex-box (center, flex-start)
  flex-flow: column
  width: 100%
  border-bottom: 1px solid #e8e8e8
  &__title
    margin: 33px 0
    font-size: 16px
    font-weight: 700
    color: #222222
    text-transform: uppercase

.checkout-drop
  margin-left: 35px
  margin-bottom: 80px
  //display: none!important
  @include flex-box(flex-start, center)
  &__form
    width: 390px
  &__title
    font-size: 13px
    font-weight: bold
    color: #222222
    text-transform: uppercase