* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 570.5px);
}

.center-margin {
    margin: 0 calc(50% - 570.5px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: flex-start;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: 37px;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.D-letter {
    font-size: 27px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.cart-img {
    margin-right: 26px;
}

.logo-img {
    margin-right: 13px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list-link {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: left;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 87px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    line-height: 32px;
    border: 1px solid #e6e6e6;
    border-right-width: 0px;
    border-radius: 3px 0px 0px 3px;
    background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}

.header-search:hover {
    cursor: pointer;
}

.top-user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 130px;
    background-color: #f16d7f;
    font-family: 'Lato';
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    i {
        padding-left: 8px;
    }
}

.cart {
    display: flex;
    align-items: flex-end;
}

.header-search-str {
    width: 280px;
    font-weight: 300;
    color: #a4a4a4;
    letter-spacing: 0.03em;
    line-height: 32px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-right-width: 0px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 14px;
    
}

.header-search-button {
    width: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.slider {
    background-color: #e8e8e8;
}

.slider__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 613px;
    background: url(img/slide1.png) no-repeat center -51px;
}

.slider__text {
    width: 510px;
    height: 92px;
    border-left: #f16d7f solid 12px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider__h1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.0001em;
    line-height: 45px;
}

.slider__h3 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.05em;
    line-height: 55px;
}

.slider__h3__span {
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.05em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.promo {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    height: 823px;
}

.promo__container {
    width: 560px;
    position: relative;
}

.promo__container:hover {
    opacity: 0.9;
}

.promo__container:first-child {
    padding-right: 20px;
}

.promo__container__stiker {
    position: absolute;
    padding: 18px;
    top: 26px;
    left: 1px;
    background-color: #fff;
}

.promo__container__stiker p {
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.promo__container__stiker h4 {
    font-size: 30px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.product-box__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    &__h2{
        font-size: 30px;
        font-weight: bold;
        color: #222222;
        text-align: center;
        letter-spacing: 0.02em;
        padding-bottom: 10px;
    }
    &__p{
        font-size: 14px;
        color: #9f9f9f;
        text-align: center;
        letter-spacing: 0.03em;
    }
}


.product {
    width: 261px;
    padding-bottom: 60px;
    position: relative;
}

.product-box__content {
    display: flex;
    justify-content: space-between;
}

.product__text {
    padding: 17px 14px;
}

.protuct__link__name {
    display: block;
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase
}

.product-box__button {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 212px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
    align-items: center;
    &:focus{
        outline: none;
    }
    
}


.product-box__footer {
    display: flex;
    justify-content: center;
}

.feature {
    height: 529px;
    width: 1140px;
    background-color: #222224;
    margin-top: 113px;
    margin-bottom: 97px;
    display: flex;
}

.feature__banner {
    position: relative;
    &__cover{
        position: absolute;
    }
    &__cover:hover{
        display: none;
    }
}


.feature__banner__promo {
    position: absolute;
    top: 146px;
    left: 39px;
    text-align: left;
}

.feature__banner__promo__h2 {
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    
    letter-spacing: 0.03em;
    span {
        color: #f16d7f;
    }
}

.feature__banner__promo__p {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
    
}

.feature__box {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    padding-right: 43px;
    padding-top: 48px;
}

.feature__box__content {
    display: flex;
    padding-bottom: 54px;
    &__img {
        padding-right: 30px;
    }
}

.feature__box__content__text {
    
    h4 {
        font-size: 20px;
        font-weight: bold;
        color: #fbfbfb;
        text-align: left;
        letter-spacing: 0.03em;
        padding-bottom: 17px;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        color: #fbfbfb;
        text-align: left;
        letter-spacing: 0.03em;
        line-height: 24px;
    }
}
.footer {
    height: 349px;
    display: flex;
}

.footer__bottom {
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social{
    display: flex;
    
    &__link {
        display: flex;
        width: 32px;
        height: 32px;
        font-size: 16px;
        color: #b2b2b2;
        letter-spacing: 0.03em;
        background-color: #fff;
        margin-left: 8px;
        justify-content: center;
        align-items:    center;
    }
    &__link:hover{
        background-color: #f16d7f;
        color: #f7f7f8;
    }
}

.footer-copyright {
    font-size: 16px;
    color: #7a7a7a;
    letter-spacing: 0.03em;
    line-height: 42px;
}

.footer__about-us {
    width: 431px;
    &__logo{
        margin-bottom: 29px;
    }
    p {
        height: 200px;
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        letter-spacing: 0.03em;
        overflow: hidden;
        text-overflow: clip;
        line-height: 24px;
    }
}

.footer__menu {
    padding-top: 14px;
    display: flex;
    justify-content: space-around;
    &__ul {
        font-size: 18px;
        font-weight: bold;
        color: #f16d7f;
        letter-spacing: 0.03em;
        line-height: 26px;
    }
    &__li {
        font-size: 16px;
        color: #898989;
        letter-spacing: 0.03em;
        line-height: 42px;
        list-style: none;
    }
}
