@charset "UTF-8";
@-moz-document url-prefix() {
  summary {
    display: block;
  }
}
.item-slide {
  padding: 11px 0 42px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  border: none;
  outline: 1px solid #eaeaea;
}
.item-slide__img {
  padding: 11px 0 42px;
}
.item-slide__ctrl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
}
.item-slide__ctrl__link {
  height: 47px;
  width: 47px;
  background-color: #2a2a2a26;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  line-height: 24px;
}
.item-slide__ctrl__link:hover {
  color: #ef5b70;
}

.item-desc {
  top: -80px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 73px !important;
  position: relative;
  width: 1141px;
}
.item-desc__collection {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 24px;
  margin-bottom: 15px;
}
.item-desc__devider {
  height: 1px;
  width: 147px;
  background-color: #eaeaea;
  border: 1px solid white;
  position: relative;
  margin-bottom: 18px;
}
.item-desc__devider__center {
  height: 3px;
  width: 63px;
  background-color: #ef5b70;
  position: absolute;
  left: 42px;
  top: -1.5px;
}
.item-desc__title {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.item-desc__rating {
  font-size: 19px;
  color: #f1b746;
  text-transform: uppercase;
  margin-bottom: 26px;
  visibility: hidden;
}
.item-desc__text {
  width: 620px;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
  margin-bottom: 28px;
}
.item-desc__box {
  display: flex;
  justify-content: space-around;
  width: 620px;
  margin-bottom: 37px;
}
.item-desc__box__spec {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  line-height: 24px;
}
.item-desc__box__spec__value {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 24px;
  padding-left: 3px;
}
.item-desc__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  margin-bottom: 43px;
  line-height: 24px;
}
.item-desc-hr {
  height: 1px;
  background-color: #eaeaea;
  width: 642px;
  margin-bottom: 63px;
}
.item-desc__more {
  width: 538px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}
.item-desc__more__cont {
  width: 144px;
}
.item-desc__more__color, .item-desc__more__size, .item-desc__more__quantity {
  display: block;
  width: 100%;
  height: 35px;
  margin-top: 16px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0 16px;
  font-size: 13px;
  color: #bcbcbc;
  line-height: 24px;
}
.item-desc__more__color:focus, .item-desc__more__size:focus, .item-desc__more__quantity:focus {
  outline: none;
}
.item-desc__more__quantity {
  width: 112px;
}
.item-desc__more__quantity::-webkit-inner-spin-button {
  display: none;
}
.item-desc__AddToCart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #ef5b70;
  background-color: #fff;
  margin-bottom: 122px;
  padding: 16px 0;
  width: 538px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
}
.item-desc__AddToCart-link:hover {
  background-color: #ef5b70;
  color: white;
}

.like-also {
  margin-top: 40px;
}
.like-also__title {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.fa-shopping-cart {
  padding-right: 15px;
}

.checkout-box {
  margin-bottom: 90px;
}

.checkout-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
.checkout-list__title {
  margin: 33px 0;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}

.checkout-drop {
  margin-left: 35px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkout-drop__form {
  width: 390px;
}
.checkout-drop__title {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding: 15px 0;
}
.checkout-drop__comments {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}
.checkout-drop__comments_reg-form-pb {
  margin-bottom: 25px;
}
.checkout-drop__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}
.checkout-drop__label:before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border: 2px solid #555555;
  border-radius: 14px;
}
.checkout-drop__label_reg-form {
  margin: 10px 0;
}
.checkout-drop__input-radio {
  display: none;
}
.checkout-drop__button {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 19px 54px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: 1px solid #eaeaea;
}
.checkout-drop__button_forgot {
  display: inline-block;
  border: none;
  outline: none;
  background: #fff;
  padding: 19px 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif, "Font Awesome 5 free";
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 570.5px);
}
.center1600 {
  padding: 0 calc(50% - 800px);
}

.center-margin {
  margin: 0 calc(50% - 570.5px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 #ececec;
}
.header__right__details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: flex-start;
}
.search-form__details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-right: 37px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.D-letter {
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.cart {
  position: relative;
}
.cart:hover .cart__box {
  opacity: 1;
  visibility: visible;
}
.cart__img {
  margin-right: 26px;
}
.cart__box {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-delay: 0.15s;
  position: absolute;
  width: 224px;
  top: 116%;
  left: -22px;
  padding: 19px;
  background-color: #fff;
}
.cart__box:hover {
  display: block;
}
.cart__box__item {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
}
.cart__box__item__text {
  display: inline-block;
  margin-left: 14px;
  width: 100%;
}
.cart__box__item__title {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding-top: 10px;
}
.cart__box__item__rating {
  font-size: 12px;
  color: #e4af48;
  text-transform: uppercase;
  padding-top: 10px;
}
.cart__box__item__price {
  font-size: 12px;
  color: #f16d7f;
  text-transform: uppercase;
  padding-top: 12px;
}
.cart__box__item__price span {
  font-size: 10px;
}
.cart__box__item__ctrl {
  font-size: 16px;
  color: #c0c0c0;
  text-transform: uppercase;
  align-self: center;
}
.cart__box__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.cart__box__total__text {
  font-size: 16px;
  display: inline;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.cart__box__total__amount {
  display: inline;
  text-align: right;
}
.cart__box__link {
  display: block;
  padding: 19px 72px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  outline: 1px solid #eaeaea;
  margin-top: 11px;
}
.cart__box__link:hover {
  color: #f16d7f;
  outline: 1px #f16d7f solid;
}

.logo-img {
  margin-right: 13px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-menu:hover + .nav-menu__open {
  display: flex;
}
.nav-menu__open {
  position: absolute;
  display: none;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 0;
  top: 50px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  z-index: 99999;
}
.nav-menu__open_banner {
  display: block;
}

.open-right {
  right: 0;
}

.nav-list {
  position: relative;
}
.nav-list:hover .nav-menu__open {
  display: flex;
}
.nav-list-link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
}
.nav-list-link__hr {
  background-color: #ef5b70;
  height: 3px;
  border: none;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 38px;
  width: 87px;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  border: 1px solid #e6e6e6;
  border-right-width: 0;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}
.header-search__ul {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 0;
  z-index: 1;
  text-align: left;
}
.header-search__li {
  list-style: none;
  width: 262px;
  font-size: 14px;
  color: #4e4e4e;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding-left: 20px;
}
.header-search__li__title {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
  margin: 0 16px;
  font-weight: 700;
}
.header-search__link {
  color: #4f4f4f;
}
.header-search__link:hover {
  color: #f16d7f;
}

.header-search:hover {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

details:focus, details[open]:focus, summary:focus {
  outline: none;
}

details[open] summary::after {
  content: "▼";
  margin-left: 8px;
  width: 10px;
}

details summary::after {
  content: "◀";
  margin-left: 8px;
  width: 10px;
}

.top-user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 32px;
}
.top-user-menu:hover {
  cursor: pointer;
}
.top-user-menu:focus {
  outline: none;
}
.top-user-menu i {
  padding-left: 8px;
}
.top-user-menu__ul {
  list-style: none;
  position: absolute;
  z-index: 1;
}
.top-user-menu__li {
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-align: center;
  border-top: solid 1px #fff;
}
.top-user-menu__li:hover {
  opacity: 0.9;
}
.top-user-menu__link {
  color: #fff;
}
.top-user-menu__link:visited {
  color: #fff;
}

.cart {
  display: flex;
  align-items: flex-end;
}

.header-search-str {
  width: 280px;
  font-weight: 300;
  color: #a4a4a4;
  letter-spacing: 0.03em;
  line-height: 32px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-right-width: 0;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 14px;
}

.header-search-button {
  width: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
}

.slider {
  background-color: #e8e8e8;
}

.slider__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 613px;
  background: url(img/slide1.png) no-repeat center -51px;
}

.slider__text {
  width: 510px;
  height: 92px;
  border-left: #f16d7f solid 12px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slider__h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.0001em;
  line-height: 45px;
}

.slider__h3 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.05em;
  line-height: 55px;
}

.slider__h3__span {
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.05em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.promo {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  height: 823px;
}

.promo__container {
  width: 560px;
  position: relative;
}

.promo__container:hover {
  opacity: 0.9;
}

.promo__container:first-child {
  padding-right: 20px;
}

.promo__container__stiker {
  position: absolute;
  padding: 18px;
  top: 26px;
  left: 1px;
  background-color: #fff;
}

.promo__container__stiker p {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.promo__container__stiker h4 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.product-box__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}
.product-box__title__h2 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 10px;
}
.product-box__title__p {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
}

.product-box__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 261px;
  margin-bottom: 60px;
  position: relative;
}
.product:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.product:hover .product__addtocartlink {
  display: flex;
}
.product:hover .product__link__img {
  filter: brightness(50%);
}
.product__addtocartlink {
  display: none;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  height: 39px;
  width: 123px;
  justify-content: center;
  align-items: center;
  top: 94px;
  left: 70px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.product__addtocartlink:hover {
  box-shadow: 0 0 7px 3px #fff;
}

.product__text {
  padding: 17px 14px;
}

.product__link__name {
  display: block;
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.product-box__button {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 212px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  align-items: center;
}
.product-box__button:focus {
  outline: none;
}

.product-box__footer {
  display: flex;
  justify-content: center;
}

.feature {
  height: 529px;
  width: 1140px;
  background-color: #222224;
  margin-top: 113px;
  margin-bottom: 97px;
  display: flex;
}

.feature__banner {
  position: relative;
}
.feature__banner__cover {
  position: absolute;
}

.feature__banner__promo {
  position: absolute;
  top: 146px;
  left: 39px;
  text-align: left;
}

.feature__banner__promo__h2 {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.feature__banner__promo__h2 span {
  color: #f16d7f;
}

.feature__banner__promo__p {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.feature__box {
  display: flex;
  flex-direction: column;
  padding-left: 31px;
  padding-right: 43px;
  padding-top: 48px;
}

.feature__box__content {
  display: flex;
  padding-bottom: 54px;
}
.feature__box__content__img {
  padding-right: 30px;
}

.feature__box__content__text h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
  padding-bottom: 17px;
}
.feature__box__content__text p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.footer {
  height: 349px;
  display: flex;
}

.footer__bottom {
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
}
.footer-social__link {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 16px;
  color: #b2b2b2;
  letter-spacing: 0.03em;
  background-color: #fff;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
}
.footer-social__link:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.footer-copyright {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.footer__about-us {
  width: 431px;
}
.footer__about-us__logo {
  margin-bottom: 29px;
}
.footer__about-us p {
  height: 200px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  overflow: hidden;
  text-overflow: clip;
  line-height: 24px;
}

.footer__menu {
  width: 709px;
  padding-top: 14px;
  display: flex;
  justify-content: space-around;
}
.footer__menu__h3 {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer__menu__li {
  display: block;
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 42px;
  list-style: none;
}
.footer__menu__li__link {
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 42px;
}
.footer__menu__li__link:hover {
  color: #f16d7f;
}

.subscribe {
  background: url(img/subscribe_cover.png) no-repeat center, url(img/subscribe_bg.png) no-repeat center;
  height: 438px;
  margin-bottom: 109px;
  display: flex;
}

.quote {
  display: flex;
  padding-top: 110px;
  width: 50%;
  border-right: 1px solid #e3e3e3;
}
.quote__foto {
  padding-right: 28px;
}
.quote__box {
  width: 426px;
}
.quote__box__text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 19px;
  font-weight: 700;
}
.quote__box__author {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 16px;
}
.quote__box__city {
  font-size: 12px;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 14px;
  font-weight: bold;
}
.quote__pagination {
  margin-top: 40px;
}
.quote__pagination__link {
  display: inline-block;
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-right: 13px;
}
.quote__pagination__link__current {
  background-color: #f16d7f;
}
.quote__pagination__link:hover {
  background-color: #f16d7f;
}

.subscribe__box {
  margin-left: 92px;
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 148px;
  flex-wrap: nowrap;
}
.subscribe__box__h3 {
  font-size: 24px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 45px;
  text-transform: uppercase;
}
.subscribe__box__p {
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.subscribe__box__form {
  padding-top: 30px;
}
.subscribe__box__form__email {
  height: 46px;
  width: 230px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  display: inline-block;
  border: none;
  padding: 0 26px;
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
}
.subscribe__box__form__email:focus {
  outline: none;
}
.subscribe__box__form__button {
  height: 46px;
  width: 104px;
  background: #f16d7f;
  border-radius: 0 23px 23px 0;
  display: inline-block;
  border: none;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.subscribe__box__form__button:focus {
  outline: none;
}
.subscribe__box__form__button:active {
  box-shadow: 0 0 3px 3px rgba(34, 34, 36, 0.5);
}
.subscribe__box__form__button:hover {
  opacity: 0.9;
}

.breadcrumb {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__title {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 9px;
}
.breadcrumb__path__link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumb__path__link:hover {
  color: #f16d7f;
}
.breadcrumb__path__link__current {
  color: #f16d7f;
  font-weight: bold;
}

.feature-box {
  width: 1600px;
  height: 341px;
  background-color: #222224;
  margin: 0 calc(50% - 800px);
  display: flex;
  justify-content: center;
}
.feature-box__row {
  width: 333px;
  padding: 89px 63px 0 63px;
  text-align: center;
}
.feature-box__row__img {
  padding-bottom: 5px;
  height: 40px;
}
.feature-box__row__h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 17px;
}
.feature-box__row__p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-align: center;
}

.main {
  margin: 59px 0 110px;
  display: flex;
}
.main__sidebar {
  margin-right: 50px;
}
.main__sidebar__fixed {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.main__sidebar__menu__ttl {
  width: 243px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  color: #ef5b70;
  text-align: left;
  line-height: 20px;
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  padding: 12px 5px 15px 11px;
  margin-bottom: 18px;
}
.main__sidebar__menu__ttl:focus {
  outline: none;
}
.main__sidebar__menu__li {
  list-style: none;
  padding-left: 17px;
}
.main__sidebar__menu__link {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 33px;
}
.main__sidebar__menu__link:hover {
  color: #f16d7f;
}
.main__content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.main__content__filter {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 41px;
}
.main__content__filter__title {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main__content__filter__trend {
  width: 178px;
}
.main__content__filter__trend__ul {
  display: inline-block;
}
.main__content__filter__trend__span {
  list-style: none;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}
.main__content__filter__trend__span:hover {
  color: #ef5b70;
  cursor: pointer;
}
.main__content__filter__trend__span::after {
  content: "|";
  font-size: 14px;
  color: #dfdfdf;
  line-height: 26px;
  padding: 0 5px;
}
.main__content__filter__trend__input {
  display: none;
}
.main__content__filter__trend__input[type=checkbox]:checked + .main__content__filter__trend__span {
  font-weight: bold;
  color: #ef5b70;
}
.main__content__filter__size {
  width: 236px;
}
.main__content__filter__size__form {
  display: flex;
  flex-flow: row wrap;
}
.main__content__filter__size__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 23px;
}
.main__content__filter__size__label:nth-child(4) {
  margin-right: 0;
}
.main__content__filter__size__label:hover {
  color: #ef5b70;
  cursor: pointer;
}
.main__content__filter__size__input {
  display: none;
}
.main__content__filter__size__input[type=checkbox]:checked + .main__content__filter__size__i {
  background-color: #ef5b70;
}
.main__content__filter__size__i {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  margin-right: 9px;
}
.main__content__filter__size__i:hover {
  border-color: #ef5b70;
}
.main__content__filter__price {
  width: 263px;
}
.main__content__filter__price__range {
  -webkit-appearance: none;
  height: 6px;
  width: 262px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.main__content__filter__price__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-color: #f16d7f;
  border-radius: 14px;
}
.main__content__filter__price__range:focus {
  outline: none;
}
.main__content__filter__price__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.main__content__filter__price__bottom__p {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 26px;
}
.main__content__sort {
  display: flex;
  justify-content: flex-start;
  background-color: #f3f3f3;
  height: 30px;
  width: 100%;
  margin-bottom: 48px;
  padding: 10px;
}
.main__content__sort__form {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  margin-right: 10px;
}
.main__content__sort__form__select, .main__content__sort__form__p {
  display: flex;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  border: 1px solid #ebebeb;
  padding: 0 10px;
}
.main__content__sort__form__select {
  margin-left: -1px;
  min-width: 63px;
}
.main__content__sort__form__select:focus {
  outline: none;
}
.main__content__products__box {
  display: flex;
  justify-content: space-between;
}
.main__content__bottom {
  display: flex;
  justify-content: space-between;
}
.main__content__bottom__pagination {
  display: flex;
  align-items: center;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.main__content__bottom__pagination__ul {
  height: 27px;
  background-color: #ffffff;
  margin: 0 10px;
}
.main__content__bottom__pagination__li {
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  line-height: 26px;
  min-width: 29px;
}
.main__content__bottom__pagination__li__current {
  color: #ef5b70;
}
.main__content__bottom__pagination__li:hover {
  cursor: pointer;
  color: #ef5b70;
  font-weight: bold;
}
.main__content__bottom__btn__link {
  display: flex;
  height: 42px;
  width: 150px;
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  text-align: left;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
.main__content__bottom__btn__link:hover {
  font-weight: bold;
}

.shopping-cart {
  margin: 85px 0;
}
.shopping-cart__tbl {
  width: 100%;
  border-collapse: collapse;
}
.shopping-cart__tbl__item__ttl {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;
}
.shopping-cart__tbl__item__ttl:hover {
  color: #ef5b70;
}
.shopping-cart__tbl__item__rating {
  font-size: 13px;
  color: #e4af48;
  padding-bottom: 10px;
  visibility: hidden;
}
.shopping-cart__tbl__item__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.9;
}
.shopping-cart__tbl__item__img:hover {
  opacity: 1;
}
.shopping-cart__tbl__item__color, .shopping-cart__tbl__item__size {
  font-size: 13px;
  font-weight: 300;
  color: #6f6e6e;
  line-height: 20px;
  padding-left: 5px;
}
.shopping-cart__tbl__tr {
  padding-top: 20px;
}
.shopping-cart__tbl__ttl {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}
.shopping-cart__tbl__ttl:first-child {
  text-align: left;
}
.shopping-cart__tbl__td {
  text-align: center;
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}
.shopping-cart__tbl__td__item {
  text-align: left;
  padding-left: 20px;
  vertical-align: top;
}
.shopping-cart__tbl__td__img {
  height: 115px;
  width: 100px;
}
.shopping-cart__tbl__td__action {
  color: #656565;
}
.shopping-cart__tbl__td__input {
  text-align: center;
  height: 30px;
  width: 54px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.shopping-cart__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 60px;
}
.shopping-cart__buttons__link {
  display: block;
  padding: 20px 39px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 1px solid #eaeaea;
}
.shopping-cart__buttons__link:hover {
  color: #ef5b70;
  outline-color: #ef5b70;
}
.shopping-cart__bottom {
  display: flex;
  justify-content: space-between;
}
.shopping-cart__bottom__note {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 4px;
  display: inline-block;
}
.shopping-cart__bottom__button {
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 16px;
  background-color: #ffffff;
  outline: 1px solid #eaeaea;
  border: none;
  margin-top: 23px;
}
.shopping-cart__bottom__button:active {
  box-shadow: 0 0 10px 2px #f16d7f80;
}
.shopping-cart__bottom__box {
  width: 360px;
}
.shopping-cart__bottom__box__checkout {
  background-color: #f5f3f3;
  height: 128px;
  padding: 43px;
  width: 274px;
}
.shopping-cart__bottom__title {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}
.shopping-cart__bottom__select, .shopping-cart__bottom__input {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  text-align: left;
  display: block;
  padding: 16px 18px;
  margin-top: 22px;
  border: none;
  outline: 1px solid #eaeaea;
}
.shopping-cart__bottom__input {
  width: 324px;
  margin-top: 20px;
}
.shopping-cart__bottom__input::-webkit-inner-spin-button {
  display: none;
}
.shopping-cart__bottom__select {
  width: 100%;
}
.shopping-cart__bottom__checkout__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.shopping-cart__bottom__checkout__button:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.shopping-cart__bottom__checkout__hr {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  margin-bottom: 17px;
}
.shopping-cart__bottom__checkout__total {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.shopping-cart__bottom__checkout__total__amount {
  color: #f16d7f;
  margin-left: 20px;
}
.shopping-cart__bottom__checkout__subtotal {
  font-size: 11px;
  color: #4a4a4a;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 14px;
}
.shopping-cart__bottom__checkout__subtotal__amount {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
