* {
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
 }

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50vw - 390px);
}

.header {
    .flex;
    padding: 0 calc(50vw - 390px);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ccc;
}
.header__left {
    .flex;
    justify-content: center;
    align-items: center;
}

.header__right {
    .flex;
    align-items: center;
}

.search-form {
    .flex;
    justify-content: flex-start;
}
